@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap');

:root {
  --primary-font: 'Manrope', sans-serif;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: rgb(109, 127, 151);
  --grayish-blue: rgb(158, 175, 194);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: var(--light-grayish-blue);
  display: grid;
  grid-template-rows: auto 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--primary-font);
}

#wrapper {
  width: 327px;
  height: 513px;
  background-color: white;
  border-radius: var(--radius);
  margin: auto;
  display: grid;
  grid-template-rows: 200px auto;
  justify-content: top;
  position: relative;
  filter: drop-shadow(0 0.25rem 0.5rem rgba(158, 175, 194, 0.2));
}

a {
  text-decoration: none;
}

.header-img-container {
  width: 100%;
  height: 200px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  overflow: hidden;
  text-align: center;
}

.header-img {
  width: 100%;
  object-fit: cover;
}

.article {
  padding: 1.25rem 2rem 0.5rem 2rem;
  display: grid;
  height: 312px;
  grid-template-rows: auto 64px;
  justify-content: start;
  align-items: center;
  place-self: center;
}

.article-content {
  padding-right: 0.75rem;
}

h2.article-header {
  color: var(--very-dark-grayish-blue);
  font-size: 1rem;
  margin-bottom: 1rem;
}

p.article-text {
  color: var(--desaturated-dark-blue);
  line-height: 1.5;
}

.article-footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
}

.author-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: end;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h3.author {
  font-size: 0.85rem;
  color: var(--very-dark-grayish-blue);
}

p.date {
  color: var(--grayish-blue);
}

button.share-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}

#overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 0 2rem;
  background-color: var(--very-dark-grayish-blue);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  color: var(--light-grayish-blue);
}

.social-buttons {
  width: 175px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
}

h3.share {
  font-weight: 200;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.fab {
  font-size: 1.35rem;
  cursor: pointer;
  color: var(--light-grayish-blue);
}

.attribution {
  font-family: var(--primary-font);
  color: var(--grayish-blue);
  font-size: 13px;
  text-align: center;
  align-self: end;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: #397a66;
  text-decoration: none;
}

@media screen and (min-width: 886px) {
  #wrapper {
    width: 730px;
    height: 280px;
    grid-template-columns: auto auto;
    grid-template-rows: 280px;
    align-items: left;
  }

  .header-img-container {
    width: 285px;
    height: 100%;
    /* max-height: 280px; */
    max-width: 285px;
    border-bottom-left-radius: var(--radius);
    border-top-right-radius: 0;
  }

  .header-img {
    width: 100%;
    height: 100%;
  }

  .article {
    padding: 1.25rem 2.5rem 2.5rem 2.5rem;
    display: grid;
    height: 100%;
    grid-template-rows: auto 40px;
    justify-content: start;
    align-items: center;
    place-self: center;
  }

  .article-content {
    padding: 0;
  }

  h2.article-header {
    font-size: 1.25rem;
    margin: 0;
  }

  p.article-text {
    margin-top: 0.9rem;
  }

  .article-footer {
    margin-top: 1rem;
  }

  #overlay {
    position: absolute;
    bottom: 85px;
    left: 545px;
    /* display: none; */
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 248px;
    min-height: 55px;
    padding: 0 2rem;
    background-color: var(--very-dark-grayish-blue);
    border-radius: var(--radius);
    color: var(--light-grayish-blue);
  }

  #overlay::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: var(--very-dark-grayish-blue);
    border-bottom: 0;
    margin-left: -0.625em;
    margin-bottom: -0.625em;
  }
}
